<h1>
  <%= @result.xpath("//firstname").first.content %>
  <%= @result.xpath("//lastname").first.content %>
</h1>
<% if @result.xpath("//picture_uri").first %>
  <img src="<%= @result.xpath("//picture_uri").first.content %>">
<% end %>